@import "variables";

.sidebar {
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    color: $primary;
    margin: 5px 0px;
    &.active {
      color: $secondary;
      font-weight: bold;
      &::before {
        content: "|";
      }
    }
  }
  .sidebar-sub-menu {
    margin-right: 20px;
    .mark {
      padding: 0px 6px;
      margin-left: 5px;
    }
    &-child {
      padding-left: 20px;
    }
    &.parent {
      .sidebar-sub-menu-child {
        display: block;
      }
    }
    &.nope {
      .mark {
        padding: 0px 5px;
      }
      .sidebar-sub-menu-child {
        display: none;
      }
    }
  }
}
