# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Hugo build
.hugo_build.lock
public

# Dependency directories (remove the comment below to include it)
resources
node_module